@import '../../assets/css/global';
$c: 'Splash';

.#{$c} {
  align-items: flex-end;
  &__claim {
    max-width: px-to-rem(245px);
    font-size: px-to-rem(20px);
    margin-left: px-to-rem(35px);
    margin-top: px-to-rem($s-size-spacer-medium);
    color: white;
    line-height: 1.4;

    @include mq($from: medium) {
      margin-top: 5rem;
      margin-left: 4rem;
      font-size: 1.75rem;
    }
  }

  .fp-tableCell {
    vertical-align: bottom;
    padding-bottom: 25vw;
  }
}
