/*
 * Naming conventions inspired by
 * https://speckyboy.com/naming-conventions-sizes-scalable-css/
 */

/*
 * Settings – Variables
 */

$s-font-family-base: 'Roboto', 'Arial', sans-serif;

/*
 * Font Sizes
 * Before starting a project:
 * Set up a type-specification file
 */

/* Mobile Font-Sizes */
$s-fz-small: 13px;
$s-fz-base: 16px;
$s-fz-heading1: 34px;
$s-fz-heading2: 34px;
$s-fz-heading3: 22px;
$s-fz-heading4: 22px;

/* Desktop Font-Sizes */
$s-fz-small-large: 15px;
$s-fz-base-large: 16px;
$s-fz-heading4-large: 24px;
$s-fz-heading3-large: 30px;
$s-fz-heading2-large: 40px;
$s-fz-heading1-large: 50px;

$s-line-height-std: 1.2;

/*
 *  Settings – Spacing
 */

// $s-size-spacer-atomic:
// $s-size-spacer-micro:
// $s-size-spacer-tiny:
$s-size-spacer-small: 20px;
// $s-size-spacer-reduced:
$s-size-spacer-medium: 35px;
$s-size-spacer-increased: 60px;
$s-size-spacer-large: 80px;
// $s-size-spacer-huge:
// $s-size-spacer-giant:

$s-size-gutter-small: 15px;
$s-size-gutter-medium: 30px;
$s-size-gutter-large: 75px;

$s-size-content-max-width-small: $s-fz-base-large * 30; // 540px = 18px * 30em (don't make paragraphs too wide!)
$s-size-content-max-width-medium: 1100px;
$s-size-content-max-width-large: 1440px;

/*
 *  Settings – Animations
 */

$s-animation-duration-default: 0.3s;
$s-animation-easing-deafult: ease-in-out;

/*
 *  Settings – Breakpoints
 */


$s-size-breakpoint-tiny: 320px;  // 'tiny' needs to be the smallest breakpoint → see generic.breakpoint-sync.scss
$s-size-breakpoint-small: 375px;
// $s-size-breakpoint-small-01: 400px;
$s-size-breakpoint-reduced: 420px;
$s-size-breakpoint-medium: 768px;
$s-size-breakpoint-increased: 1024px;
$s-size-breakpoint-large: 1440px;
$s-size-breakpoint-huge: 1920px;
$s-size-breakpoint-giant: 2200px;


/*
 *  Settings – z-Index
 */

$s-zindex-map: (
  'burger': 100,
  'menu': 90
);


$s-default-easing: cubic-bezier(0.4, 0.0, 0.2, 1);
