@import '../../assets/css/global';
$c: 'competencies';

.#{$c} {
  position: relative;

  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;


    &.expanded {
      // flex-wrap: nowrap;
    }
  }

  &__wrap {
    margin-bottom: px-to-rem($s-size-gutter-large);
    position: absolute;
    bottom: 0;
    margin-bottom: px-to-rem($s-size-gutter-large);
    left: px-to-rem(25px);
    width: 80vw;
    transition: all 0.25s ease-in-out 0.25s;

    &.expanded {
      margin-bottom: 0;
      transform: translate(0, 0);
      bottom: 0;
      left: 0;
      width: 100vw;
      transition: all 0.25s;
    }

    @include mq($from: medium) {
      left: px-to-rem(75px);
      bottom: 0;
      margin-bottom: px-to-rem($s-size-gutter-large) * 2;
    }
  }

  &__heading {
    @include font-style-medium;
    color: white;
    margin-bottom: px-to-rem($s-size-gutter-small) * 2;
    margin-left: px-to-rem($s-size-gutter-small);
    // max-width: 100%;
    transition: all 0.25s ease-in-out;

    @include mq($from: medium) {
      margin-left: px-to-rem($s-size-gutter-large);
    }

    &.expanded {
      // position: absolute;
      // top: 25%;
      // left: 0;
      // max-width: 100%;
    }
  }

  &__back {
    @include font-style-medium;
    position: absolute;
    right: px-to-rem($s-size-spacer-small);
    top: px-to-rem($s-size-spacer-small);

    @include mq($from: medium) {
      display: none;
    }
  }

  &__card-wrap {
    position: relative;
    flex: 0 0 auto;
    background: transparent;
    margin-bottom: px-to-rem($s-size-gutter-small) * 2;
    width: 100%;
    transition: height 0.25s, width 0s ease-in-out 0.25s, padding 0.15s ease-in-out 0.25s, background-color 0.25s, margin-bottom 0.3s;
    padding: 0;
    height: px-to-rem(25px);

    &:last-child {
      margin-bottom: 0;
    }

    @include mq($from: medium) {
      height: px-to-rem(50px);
      margin-right: .1rem;
      margin-left: .1rem;
    }

    &.expanded {
      background: #fff;
      margin-bottom: 0;
      height: 40vh;
      padding: px-to-rem($s-size-spacer-small);
      padding-top: px-to-rem($s-size-spacer-small) + px-to-rem(10px);
      // flex:1 0 auto;
      transition: height 0.25s ease-in-out 0.25s, width 0s ease-in-out, padding 0.25s ease-in-out, background-color 0.25s ease-in-out, margin-bottom 0.25s;
      width: calc(25% -(2 * .1rem));

      &:first-child {
        // margin-left: 1rem;
        height: 60vh;
      }

      &:nth-child(3) {
        // margin-left: 1rem;
        height: 55vh;
      }

      &:nth-child(4) {
        // margin-left: 1rem;
        height: 35vh;
      }

      &:last-child {
        // margin-right: 1rem;
      }

      .#{$c}__card-title {
        color: white;
        margin-bottom: 50px;
        // white-space: normal;
        // overflow: visible;
      }
    }

    &.hide {
      display: none;
      @include mq($from: medium) {
        display: block;
      }
    }

    &.full-width.expanded {
      width: 100vw;

      @include mq($from: medium) {
        width: calc(25% -(2 * .1rem));
      }
    }
  }

  &__card {
    cursor: pointer;
    color: white;
    display: inline-block;
    max-width: 100%;
  }

  &__card-title {
    @include font-style-medium
    color: white;
    background: #000;
    padding: (px-to-rem($s-size-gutter-small) / 2) px-to-rem($s-size-gutter-small);
    text-align: left;
    transition: all 0.25s;
    display: inline;
    // white-space: nowrap;
    // overflow: hidden;
    max-width: 100%;
  }

  &__card-list {
    color: #000;
    padding-top: 50px;
  }

  &__card-list-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
