@import '../../assets/css/global';
$c: 'competencies';

.#{$c} {
  display: flex;
  flex-flow: column nowrap;

  .cards {
    display: flex;
    flex-flow: column nowrap;

    &.expanded {
      flex-flow: row nowrap;
    }
  }
  .card-wrapper {
    padding: 1rem;
  }
  .card {
    padding: 1rem;
    background: #e9e9e9;
  }
}
