@import '../assets/css/global';
$c: 'Layout';
$p: 'Page';
/* NUXT default transition */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.no-transition-enter-active,
.no-transition-leave-active {
  transition: all 0.4s;
}

.no-transition-enter,
.no-transition-leave-active {
  opacity: 1;
}

.fp-tableCell {
  padding-left: 5em;
  padding-right: 5em;
}

.Team,
#competencies {
  .fp-tableCell {
    padding-left: 0;
    padding-right: 0;
  }
}

.#{$c} {
    margin: auto;
    &__content {
        padding-top: px-to-rem($s-size-spacer-small);
        @include mq($from: medium) {
            padding-top: px-to-rem($s-size-spacer-medium);
        }
    }
}

.#{$p} {
  padding-bottom: px-to-rem($s-size-spacer-medium);
  @include mq($from: medium) {
    padding-bottom: px-to-rem($s-size-spacer-increased);
  }

  &__section {
    // height: 100%;
    // min-height: 100vh;
    z-index: 10;
    display: flex;
    flex-flow: column wrap;
  }
}
