@import '../../assets/css/global';
$c: 'Clients';

.#{$c} {
  // padding: 4rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  overflow: hidden;

  &__wrap {
    position: absolute;
    bottom: 0;
    margin-bottom: px-to-rem($s-size-gutter-large);
    left: px-to-rem(25px);

    @include mq($from: medium) {
      margin-bottom: px-to-rem($s-size-gutter-large) * 3;
      left: px-to-rem($s-size-gutter-large);
    }
  }

  &__group {
    transform: translateY(-100%);
    max-width: 40rem;

    a {
      text-decoration: none;
    }
  }

  &__heading {
    transform: translateY(-1000%);
    color: white;
    margin-left: px-to-rem($s-size-gutter-medium);
    margin-bottom: px-to-rem($s-size-gutter-small);

    @include mq($from: medium) {
      transform: translateY(-1000%);
      margin-left: px-to-rem($s-size-gutter-large);
      margin-bottom: px-to-rem($s-size-gutter-medium);
    }
  }

  &__clientName {
    @include font-style-medium;
    color: white;
    background: #000;
    margin-right: px-to-rem($s-size-gutter-small);
    margin-bottom: px-to-rem($s-size-gutter-small);
    padding: (px-to-rem($s-size-gutter-small) / 2) px-to-rem($s-size-gutter-small);
    display: inline-block;
  }

  &__heading,
  &__group {
    transition: all 1s;
  }

  &.fp-section {
    &.active {
      .#{$c}__heading,
      .#{$c}__group {
        transform: translateY(0);
      }
    }
  }

}
